@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <h3 class="text-center">Opening Hours</h3>
    <p class="text-center">From Monday to Sunday<br> Including Holidays</p>
    <ul class="list-group">
        <li class="list-group-item">Weekdays <span class="label label-danger">4pm - 11pm</span></li>
        <li class="list-group-item">Weekends & Holidays <span class="label label-danger">12pm - 12am</span></li>
    </ul>
</div>


<!-- Image of location/map -->
<img src="~/Content/Images/map.JPG" class="img-responsive" style="width:100%">